{% extends 'basicPages/base.html' %}

{% block content %}

    <div class="forum-canvas">
        <h3 class="forum-title">About The Website</h3>
        <p>This website was created to help those going through opioid addiction. We created a wall to post encouraging messages, educational modules, and displayed statistics to help raise awareness. The website was created using Django in the backend and javaScript to give the page functionality. Django also came with a sqlite database that we used to store the post.</p>

        <p></p>

    </div>

{% endblock %}